openapi: 3.2.0
info:
  title: fabric Origin Analytics API
  version: '3.0'
servers:
- url: https://api.origin.fabricdata.com
tags:
- name: Analytics
paths:
  /Analytics/GBUsage/:
    get:
      tags:
      - Analytics
      summary: Get GB usage by date and tag
      description: Get GB usage by date and tag.
      operationId: GetGBUsageGBUsage_Get
      parameters:
      - schema:
          type: string
        name: ReportTag
        in: query
        description: Report Tag filter.
        required: false
      - schema:
          type: string
          enum:
          - January
          - February
          - March
          - April
          - May
          - June
          - July
          - August
          - September
          - October
          - November
          - December
        name: Month
        in: query
        description: Report month
        required: false
      - schema:
          type: integer
          format: int32
        name: Year
        in: query
        description: Report year
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GBUsageResponse'
      deprecated: false
components:
  schemas:
    GBUsageDay:
      title: GBUsageDay
      properties:
        Date:
          type: string
          format: date-time
        GB:
          type: number
          format: double
        FlashPlayerRequests:
          type: integer
          format: int32
        ImageServiceRequests:
          type: integer
          format: int32
        ImageServiceGB:
          type: number
          format: double
      description: GBUsageDay
      type: object
    GBUsageResponse:
      title: GBUsageResponse
      properties:
        TotalGB:
          type: number
          format: double
        MonthlyStorageInMinutes:
          type: string
        MonthEncodeMinutes:
          type: string
        Detail:
          type: array
          items:
            $ref: '#/components/schemas/GBUsageDay'
      description: GBUsageResponse
      type: object
