openapi: 3.1.0
info:
  title: Fabric Origin Data APIs Entertainment Videos API
  description: 'Fabric Origin (formerly IVA) is an entertainment metadata platform.

    The Entertainment, Image, and Video APIs share the host

    api.origin.fabricdata.com. Authentication uses an Azure API

    Management subscription key sent as either the

    Ocp-Apim-Subscription-Key header or the subscription-key query

    parameter.

    '
  version: 1.0.0
  contact:
    name: Fabric Origin Knowledge Base
    url: https://knowledgebase.fabricdata.com/origin/apis-all/
servers:
- url: https://api.origin.fabricdata.com
  description: Fabric Origin production
security:
- SubscriptionKeyHeader: []
- SubscriptionKeyQuery: []
tags:
- name: Videos
paths:
  /api/Videos/GetVideo/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get a video by ID
      operationId: getVideo
      responses:
        '200':
          description: Video metadata
      tags:
      - Videos
  /api/Videos/ClosedCaptions/{videoId}:
    parameters:
    - name: videoId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get closed captions for a video
      operationId: getClosedCaptions
      responses:
        '200':
          description: Closed captions
      tags:
      - Videos
components:
  securitySchemes:
    SubscriptionKeyHeader:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
    SubscriptionKeyQuery:
      type: apiKey
      in: query
      name: subscription-key
